<h1 style = "color:#942222; text-align:center; font-weight: bold">Universidad Castro Carazo</h1>
<h5 style = "color:#bd3737; text-align: center">Analisis de Datos</h5>
<center><img src= "carro.png"></center>
<br/>
<p style = "text-align: justify; font-family: Tahoma">El análisis de datos es un proceso sistemático y metódico que implica la recopilación, organización, interpretación y visualización de conjuntos de datos con el objetivo de extraer información significativa y relevante. Este proceso utiliza herramientas, tecnologías y procesos para encontrar tendencias y resolver problemas mediante datos.
 </p>

<table>
  <tr>
    <td> <img src = "info.png"></td>
    <td>Repositorio UCI del set de datos</td>
    <td><a href = "https://archive.ics.uci.edu/dataset/10/automobile">Enlace al sitio web </a></td>
  </tr>
  <tr>
    <td> <img src = "paleta.png"></td>
    <td>Paleta de colores</td>
    <td><a href = "https://paletadecolores.com.mx/paleta/942222/bd3737/d4cdad/98c3a1/25857d/">Enlace al sitio web</a></td>
  </tr>
</table>

<h2 Style = "color: #25857d">1. Carga y estandarizacion de los set de datos</h2>
 
<ul>
    <li style="font-family: Tahoma">Instalar e importar las librerias necesarias para trabajar</li>
    <li style="font-family: Tahoma">Importar los archivos csv (Set de Datos)</li>
    <li style="font-family: Tahoma">Revison de los set de datos (encabezados)</li>
    <li style="font-family: Tahoma">Generar un unico set de datos</li>
</ul>
 
<h4 style="color:#616382; font-family: Tahoma"> 1.1) Instalar e importar las librerias necesarias para trabajar </h4>

In [1]:
import numpy as np #Esta librería para trabajar estructuras de datos(listas, tuplas,diccionarios)
import pandas as pd #Librería utilizada para el manejo de datos(DataFrame)
import matplotlib as mpl #Librería para crear gráficos
import matplotlib.pyplot as plt #Librería de gráficos
import seaborn as sn #Librería de gráficos

<h4 style="color:#616382; font-family: Tahoma"> 1.2) Importar Set de Datos</h4>

In [2]:
#Esta tupla es para definir los nombres de cada variable(columna)
cols = ["symboling", "Normalized", "make", "fuel", "aspiration", "doors", 
       "style", "wheels", "engine", "base", "length", "width", "heingt",
       "curb", "engineType", "Cylind3rs", "engine size", "system", "bor3", "stroke",
       "compression", "hOrsepower", "peak", "CITY", "Higway", "price"]

dfAutos1 = pd.read_csv("DataSet_Autos01(in).csv", names=cols) #names es asignarle los titulos a las columnas
dfAutos2 = pd.read_csv("DataSet_Autos02(in).csv", names=cols) #names es asignarle los titulos a las columnas
print("Se cargaron los datos a la memoria")

Se cargaron los datos a la memoria

<h4 style="color:#616382; font-family: Tahoma"> 1.3) Revisar los Set de Datos</h4>

<table>
  <tr>
    <td> <img src = "info.png"></td>
    <td>La primera columna de set de datos se tienen que revisar para poder determinar si esta correspónde a un indice o una variable, para eso se usan los MetaDatos</td>
  </tr>

In [3]:
dfAutos1.head(5)

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
NaN,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
26.0,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
185.0,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
112.0,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
78.0,1,161,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,...,98,spdi,3.03,3.39,7.6,102,5500,24,30,7689

In [4]:
dfAutos2.head(2)

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
NaN,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
4.0,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [5]:
dfAutos1.tail(5)

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
161.0,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,28,34,9258
54.0,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.4,101,6000,17,23,10945
163.0,1,168,toyota,gas,std,two,hatchback,rwd,front,94.5,...,98,2bbl,3.19,3.03,9.0,70,4800,29,34,8238
26.0,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
140.0,0,102,subaru,gas,std,four,sedan,fwd,front,97.2,...,108,2bbl,3.62,2.64,9.5,82,4800,32,37,7126

In [6]:
dfAutos2.tail(5)

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
36.0,0,106,honda,gas,std,two,hatchback,fwd,front,96.5,...,110,1bbl,3.15,3.58,9.0,86,5800,27,33,7895
59.0,0,115,mazda,gas,std,four,sedan,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8495
164.0,1,168,toyota,gas,std,two,sedan,rwd,front,94.5,...,98,mpfi,3.24,3.08,9.4,112,6600,26,29,9298
3.0,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
112.0,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695

In [7]:
dfAutos1.shape

(201, 26)

In [8]:
#201 obervaciones y 26 columnas

In [9]:
dfAutos2.shape

(201, 26)

<ul>
    <li style="font-family: Tahoma">Los nombres de variables no deben empezar con un número</li>
    <li style="font-family: Tahoma">Los nombres no pueden ser iguales a una palabra reservada(for,if,print)</li>
    <li style="font-family: Tahoma">Los nombres no deben contener espacios (engine size -> engineSize / engine-size)</li>
    <li style="font-family: Tahoma">Los nombres de variables deben estar en el mismo idioma</li>
    <li style="font-family: Tahoma">Los nombres de variables deben estar todos en minuscula o mayuscula</li>
</ul>

In [10]:
dfAutos1.columns #esto es para revisar que todas las variables están exactamente igual a la hora de pegar dos archivos

Index(['symboling', 'Normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylind3rs', 'engine size', 'system', 'bor3',
       'stroke', 'compression', 'hOrsepower', 'peak', 'CITY', 'Higway',
       'price'],
      dtype='object')

In [11]:
dfAutos2.columns

Index(['symboling', 'Normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylind3rs', 'engine size', 'system', 'bor3',
       'stroke', 'compression', 'hOrsepower', 'peak', 'CITY', 'Higway',
       'price'],
      dtype='object')

<h4 style="color:#616382; font-family: Tahoma"> 1.4)Generar único Set de Datos</h4>


<table align="left">
    <tr>
        <td><img src = "info.png"></td>
        <td><p style="text-align: justify; font-family: Tahoma">Sanas prácticas para nombrar las variables:</p>
            <ol>
                <li>Las variables deben llamarse igual</li>
                <li>Contener igual cantidad de valores, y estar en el mismo orden</li>
         <o/>
    </td>
</tr>

In [12]:
unionArchivos = [dfAutos1, dfAutos2]
dfAutos = pd.concat(unionArchivos)
dfAutos.shape

(402, 26)

<h4 style="color:#616382; font-family: Tahoma"> 1.5) Solucionar los primeros errores identificados</h4>
<table align="left">
    <tr>
        <td><img src = "info.png"></td>
        <td><ol>
                <li>La columna 1 - un indice(Hay que eliminarla y generar un nuevo indice)</li>
                <li>Los errores de las variables (nombres)</li>
         <o/>
    </td>
</tr>

In [13]:
dfAutos.head(5)

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
NaN,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
26.0,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
185.0,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
112.0,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
78.0,1,161,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,...,98,spdi,3.03,3.39,7.6,102,5500,24,30,7689

In [14]:
dfAutos.reset_index(drop=True, inplace=True) #Esto es para resetear el indice(primeros numeros de los datos de la tabla) 
dfAutos

,symboling,Normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
2,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
3,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
4,1,161,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,...,98,spdi,3.03,3.39,7.6,102,5500,24,30,7689
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,0,106,honda,gas,std,two,hatchback,fwd,front,96.5,...,110,1bbl,3.15,3.58,9.0,86,5800,27,33,7895
398,0,115,mazda,gas,std,four,sedan,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8495
399,1,168,toyota,gas,std,two,sedan,rwd,front,94.5,...,98,mpfi,3.24,3.08,9.4,112,6600,26,29,9298
400,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
401,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695

In [15]:
dfAutos.columns

Index(['symboling', 'Normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylind3rs', 'engine size', 'system', 'bor3',
       'stroke', 'compression', 'hOrsepower', 'peak', 'CITY', 'Higway',
       'price'],
      dtype='object')

In [16]:
dfAutos.rename({'Normalized':'normalized', 'Cylind3rs':'cylinders', 'engine size':'engineSize',
                'bor3':'bore', 'hOrsepower':'horsepower', 'CITY':'city', 'Higway':'higway'},axis=1, inplace=True)
dfAutos.columns
#Axis = 1 es para que haga el cambio solo en las columnas y no en los datos de adentro
#inplace=True corra los cambios

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'cylinders', 'engineSize', 'system', 'bore',
       'stroke', 'compression', 'horsepower', 'peak', 'city', 'higway',
       'price'],
      dtype='object')

In [17]:
dfAutos.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
2,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
3,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
4,1,161,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,...,98,spdi,3.03,3.39,7.6,102,5500,24,30,7689

<h2 Style = "color:  #25857d">2. Manejo de valores faltantes</h2>
 
<ol>
<li>Identificar como se muestran los valores faltantes (NaN, ?, null, EspacioEnBlanco)</li>
<li>Contar la cantidad de valores faltantes en cada una de las caracteristicas</li>
<li>Imputacion simple de valores numericos</li>
<li>Imputacion simple de valores categoricos</li>
<li>Eliminar observaciones o registros</li>
</ol>
 
<h4 style="color:#616382; font-family: Times New Roman">2.1 Identificar como se muestran los valores faltantes</h4>

In [18]:
dfAutos.head(10)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
1,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.60,102,5500,24,30,8558
2,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.00,85,5250,27,34,8495
3,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.40,95,5000,19,24,16695
4,1,161,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,...,98,spdi,3.03,3.39,7.60,102,5500,24,30,7689
5,1,118,dodge,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.41,68,5500,37,41,5572
6,3,?,porsche,gas,std,two,hardtop,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.50,207,5900,17,25,32528
7,1,168,toyota,gas,std,two,sedan,rwd,front,94.5,...,98,mpfi,3.24,3.08,9.40,112,6600,26,29,9298
8,2,104,saab,gas,std,four,sedan,fwd,front,99.1,...,121,mpfi,3.54,3.07,9.30,110,5250,21,28,12170
9,1,148,dodge,gas,std,four,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6229

In [19]:
dfAutos["normalized"].unique() #Valores sin repetir(si hay tres: 110 entonces solo tira un 110) #es otra manera de identificar valores faltantes

array(['?', '148', '94', '161', '118', '168', '104', '74', '134', '164',
       '90', '115', '158', '119', '85', '93', '150', '101', '231', '65',
       '125', '128', '81', '197', '91', '129', '89', '256', '83', '103',
       '188', '154', '110', '108', '87', '107', '137', '145', '153',
       '102', '194', '122', '77', '106', '142', '113', '192', '121'],
      dtype=object)

In [20]:
dfAutos["price"].unique()

array(['13495', '8558', '8495', '16695', '7689', '5572', '32528', '9298',
       '12170', '6229', '13415', '11199', '17450', '8195', '16630',
       '14489', '15690', '11900', '23875', '11245', '7957', '6669',
       '8845', '15510', '28176', '15645', '7129', '18399', '10898',
       '6989', '7995', '9279', '16500', '7799', '14869', '6575', '6785',
       '18620', '9988', '9538', '31600', '11694', '12440', '5499',
       '18150', '6095', '15998', '7738', '7463', '9980', '10595', '24565',
       '7603', '11549', '12940', '?', '16558', '20970', '13950', '17075',
       '25552', '36880', '6692', '9895', '8948', '8921', '13499', '13645',
       '5348', '7053', '41315', '37028', '9258', '9989', '18920', '7609',
       '17669', '6377', '10945', '10345', '15985', '35550', '15250',
       '18280', '15040', '12945', '6855', '14399', '32250', '11248',
       '9295', '9495', '8499', '7126', '18344', '9233', '6479', '7099',
       '17710', '36000', '9960', '13845', '8449', '19699', '16503',
       '28248', '6938', '30760', '15750', '8013', '7775', '13200', '8238',
       '5399', '7898', '12964', '16900', '10698', '10295', '11850',
       '17199', '6529', '8249', '6338', '21105', '6918', '8949', '9995',
       '9549', '35056', '7975', '6488', '8358', '7999', '34184', '6649',
       '6695', '13860', '12764', '45400', '8189', '13295', '7895',
       '16430', '9959', '7198', '9639', '9095', '7299', '12629', '15580',
       '8778', '6849', '6189', '7349', '10198', '11595', '7295', '11048',
       '40960', '5151'], dtype=object)

<h4 style="color:#616382; font-family: Times New Roman">2.2 Contar valores faltantes</h4>

In [21]:
dfAutos.replace("?",np.nan,inplace=True)
dfAutos["normalized"].unique()

array([nan, '148', '94', '161', '118', '168', '104', '74', '134', '164',
       '90', '115', '158', '119', '85', '93', '150', '101', '231', '65',
       '125', '128', '81', '197', '91', '129', '89', '256', '83', '103',
       '188', '154', '110', '108', '87', '107', '137', '145', '153',
       '102', '194', '122', '77', '106', '142', '113', '192', '121'],
      dtype=object)

In [22]:
dfTemp = dfAutos.isnull()
dfTemp.head(3)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [23]:
for columns in dfTemp.columns.values.tolist():
    print(dfTemp[columns].value_counts())
    print("")

symboling
False    402
Name: count, dtype: int64

normalized
False    318
True      84
Name: count, dtype: int64

make
False    402
Name: count, dtype: int64

fuel
False    402
Name: count, dtype: int64

aspiration
False    402
Name: count, dtype: int64

doors
False    399
True       3
Name: count, dtype: int64

style
False    402
Name: count, dtype: int64

wheels
False    402
Name: count, dtype: int64

engine
False    402
Name: count, dtype: int64

base
False    402
Name: count, dtype: int64

length
False    402
Name: count, dtype: int64

width
False    402
Name: count, dtype: int64

heingt
False    402
Name: count, dtype: int64

curb
False    402
Name: count, dtype: int64

engineType
False    402
Name: count, dtype: int64

cylinders
False    402
Name: count, dtype: int64

engineSize
False    402
Name: count, dtype: int64

system
False    402
Name: count, dtype: int64

bore
False    396
True       6
Name: count, dtype: int64

stroke
False    396
True       6
Name: count, dtype: int64

compression
False    402
Name: count, dtype: int64

horsepower
False    398
True       4
Name: count, dtype: int64

peak
False    398
True       4
Name: count, dtype: int64

city
False    402
Name: count, dtype: int64

higway
False    402
Name: count, dtype: int64

price
False    394
True       8
Name: count, dtype: int64

<h4 style="color:#616382; font-family: Times New Roman">2.3 Imputar los valores numericos faltantes</h4>

In [24]:
dfTemp = dfAutos[dfAutos.peak.isnull()]
dfTemp.head(10)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
83,2,NaN,renault,gas,std,two,hatchback,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9895
134,0,NaN,renault,gas,std,four,wagon,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9295
244,0,NaN,renault,gas,std,four,wagon,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9295
248,0,NaN,renault,gas,std,four,wagon,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9295

In [25]:
dfTemp = dfAutos[dfAutos["make"]=="renault"]
dfTemp.head(20)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
83,2,NaN,renault,gas,std,two,hatchback,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9895
134,0,NaN,renault,gas,std,four,wagon,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9295
244,0,NaN,renault,gas,std,four,wagon,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9295
248,0,NaN,renault,gas,std,four,wagon,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9295

In [26]:
dfTemp = dfAutos[dfAutos.stroke.isnull()]
dfTemp.head(20)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
26,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,80,mpfi,NaN,NaN,9.4,135,6000,16,23,15645
92,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,13645
113,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,10945
183,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,80,mpfi,NaN,NaN,9.4,135,6000,16,23,15645
197,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,10945
378,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,13645

In [27]:
dfTemp = dfAutos[dfAutos["make"]=="mazda"]
dfTemp.head(20)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
17,0,115,mazda,gas,std,four,sedan,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8495
20,0,115,mazda,gas,std,four,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,11245
26,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,80,mpfi,NaN,NaN,9.4,135,6000,16,23,15645
51,1,104,mazda,gas,std,two,hatchback,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6095
56,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8845
61,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595
92,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,13645
113,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,10945
121,0,118,mazda,gas,std,four,sedan,rwd,front,104.9,...,140,mpfi,3.76,3.16,8.0,120,5000,19,27,18280
129,0,115,mazda,gas,std,four,sedan,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8495
130,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595
150,0,115,mazda,gas,std,four,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,11245
158,0,NaN,mazda,diesel,std,four,sedan,rwd,front,104.9,...,134,idi,3.43,3.64,22.0,72,4200,31,39,18344
183,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,80,mpfi,NaN,NaN,9.4,135,6000,16,23,15645
197,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,10945
214,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595
253,0,115,mazda,gas,std,four,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,11245
265,0,118,mazda,gas,std,four,sedan,rwd,front,104.9,...,140,mpfi,3.76,3.16,8.0,120,5000,19,27,18280
267,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595
270,0,NaN,mazda,diesel,std,four,sedan,rwd,front,104.9,...,134,idi,3.43,3.64,22.0,72,4200,31,39,18344

In [28]:
dfTemp2 = dfTemp[dfTemp["style"]=="hatchback"]
dfTemp2.head(20)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
20,0,115,mazda,gas,std,four,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,11245
26,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,80,mpfi,NaN,NaN,9.4,135,6000,16,23,15645
51,1,104,mazda,gas,std,two,hatchback,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6095
56,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8845
61,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595
92,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,13645
113,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,10945
130,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595
150,0,115,mazda,gas,std,four,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,11245
183,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,80,mpfi,NaN,NaN,9.4,135,6000,16,23,15645
197,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,10945
214,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595
253,0,115,mazda,gas,std,four,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,11245
267,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595
281,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595
295,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595
298,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8845
353,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595
365,1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595
378,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,13645

In [29]:
dfTemp3 = dfTemp[dfTemp["horsepower"]=="101"]
dfTemp3.head(10)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
92,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,13645
113,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,10945
197,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,10945
378,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,13645

In [30]:
dfTemp3.loc[92,"stroke"]=3.39
dfTemp3.loc[113,"stroke"]=3.39
dfTemp3.loc[197,"stroke"]=3.39
dfTemp3.loc[378,"stroke"]=3.39
print("datos imputados")

datos imputados

In [31]:
dfAutos["stroke"].unique()

array(['2.68', '3.39', '3.40', '2.19', '3.23', '2.90', '3.08', '3.07',
       '3.15', '3.50', '3.19', '3.86', '3.35', '3.58', '3.64', nan,
       '3.41', '3.27', '3.54', '3.46', '3.29', '3.11', '2.64', '3.03',
       '3.52', '3.90', '4.17', '3.16', '2.07', '3.47', '2.76', '3.12',
       '3.10', '2.80'], dtype=object)

In [32]:
#Utilizar la variable: Normalized.
#Vamos a filtrar por la marca volkswagen
#Y las variables principales para encontrar patrones seran: make, fuel, aspiration, style, y horsepower

In [40]:
dfTemp = dfAutos[dfAutos.normalized.isnull()]
dfTemp.head(20)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
3,0,NaN,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
6,3,NaN,porsche,gas,std,two,hardtop,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.5,207,5900,17,25,32528
15,3,NaN,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,...,156,spdi,3.59,3.86,7.0,145,5000,19,24,14489
34,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
37,3,NaN,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,...,156,spdi,3.59,3.86,7.0,145,5000,19,24,14869
40,0,NaN,isuzu,gas,std,four,sedan,rwd,front,94.3,...,111,2bbl,3.31,3.23,8.5,78,4800,24,29,6785
41,3,NaN,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,...,156,spdi,3.59,3.86,7.0,145,5000,19,24,14869
48,0,NaN,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,3.19,8.4,97,5000,19,24,12440
58,3,NaN,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,...,156,spdi,3.59,3.86,7.0,145,5000,19,24,14489
62,1,NaN,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565
66,0,NaN,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,3.19,8.4,97,5000,19,24,12440
72,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,NaN
78,0,NaN,peugot,diesel,turbo,four,wagon,rwd,front,114.2,...,152,idi,3.70,3.52,21.0,95,4150,25,25,17075
80,0,NaN,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880
83,2,NaN,renault,gas,std,two,hatchback,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9895
95,0,NaN,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
96,3,NaN,porsche,gas,std,two,convertible,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.5,207,5900,17,25,37028
99,0,NaN,isuzu,gas,std,four,sedan,rwd,front,94.3,...,111,2bbl,3.31,3.23,8.5,78,4800,24,29,6785
103,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920

In [35]:
dfTemp1=dfAutos[dfAutos["make"]=="volkswagen"]
dfTemp1.head(20)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
2,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
13,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8195
31,2,94,volkswagen,diesel,std,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,52,4800,37,46,7995
55,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8195
59,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
60,3,256,volkswagen,gas,std,two,hatchback,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,9980
76,3,256,volkswagen,gas,std,two,hatchback,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,9980
86,3,256,volkswagen,gas,std,two,hatchback,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,9980
119,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
136,2,94,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,68,4500,37,42,9495
143,2,94,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,68,4500,37,42,9495
153,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8195
164,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8195
172,0,NaN,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.40,23.0,68,4500,33,38,13845
193,2,122,volkswagen,diesel,std,two,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,52,4800,37,46,7775
213,2,122,volkswagen,diesel,std,two,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,52,4800,37,46,7775
247,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,10.0,100,5500,26,32,9995
254,2,122,volkswagen,gas,std,two,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,7975
264,3,256,volkswagen,gas,std,two,hatchback,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,9980
276,2,94,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,68,4500,37,42,9495

In [51]:
dfTemp2 = dfTemp1[dfTemp1["aspiration"]=="turbo"]
dfTemp2.head(20)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
136,2,94,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,68,4500,37,42,9495
143,2,94,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,68,4500,37,42,9495
172,0,NaN,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.40,23.0,68,4500,33,38,13845
276,2,94,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,68,4500,37,42,9495
312,2,94,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,68,4500,37,42,9495
347,0,NaN,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.40,23.0,68,4500,33,38,13845

In [54]:
dfTemp2.loc[172, "normalized"]=94
dfTemp2.loc[347, "normalized"]=94
print("datos imputados")

datos imputados

In [50]:
#dfTemp2 = dfTemp1[dfTemp1["fuel"]=="gas"]
#dfTemp2.head(20)

In [52]:
#dfTemp3 = dfTemp1[dfTemp1["horsepower"]=="110"]
#dfTemp3.head(20)

In [44]:
#dfTemp3 = dfTemp[dfTemp["aspiration"]=="std"]

In [43]:
#dfTemp4 = dfTemp[dfTemp["style"]=="sedan"]

In [42]:
#dfTemp5 = dfTemp[dfTemp["horsepower"]=="85"]